# Git and GitHub metadata
.github/
.git/
.gitignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md

# Exclude all .pyc files
**/__pycache__

# Build artifacts
dist/
*.tar.gz
*.whl

# Test and setup scripts
.coverage
tests/
setup/
scripts/

# Jupyter notebooks
notebooks/

# Package Management
Pipfile
Pipfile.lock

# Documentation and Automation Files
docs/
examples/
mkdocs.yml
Makefile
noxfile.py

# Work In Progress
# Configuration Files (wip)
scripts/test_gen.sh
readmeai/config/settings/models.toml
readmeai/config/settings/quickstart_wip.toml
readmeai/config/settings/quickstart.toml

# Github Actions
.github/workflows/ci.yml

# Submodules (wip)
readmeai/templates/
readmeai/ui/

# Dalle-3 Images
examples/images/dalle
