# Compiled Python files
*.pyc
*.pyo
__pycache__/
.venv/

# Compiled Cython files
*.so
*.c

# System-specific files
.DS_Store
Thumbs.db

# Temporary files
*~

# Test coverage results
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Log files
logs/
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
outputs/
notebooks/

# VSCode workspace settings
.vscode/

# cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Benchmarks
.benchmarks/

# Package Management
Pipfile
Pipfile.lock

# Work In Progress
# Configuration Files (wip)
scripts/test_gen.sh
readmeai/config/settings/classifiers.toml
readmeai/config/settings/models.toml
readmeai/config/settings/quickstart_wip.toml
readmeai/config/settings/quickstart.toml
readmeai/utils/file_cleaner.py

# Github Actions
.github/workflows/ci.yml

# Submodules (wip)
readmeai/templates/
readmeai/ui/

# Dalle-3 Images
examples/images/dalle
