# Compiled Python files
*.pyc
*.pyo
__pycache__/
.venv/

# Compiled Cython files
*.so
*.c

# System-specific files
.DS_Store
Thumbs.db

# Temporary files
*~

# Test coverage results
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Log files
logs/
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
outputs/
notebooks/

# VSCode workspace settings
.vscode/

# cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Benchmarks
.benchmarks/

# Package Management
Pipfile
Pipfile.lock

# Temporarily Ignored
examples/markdown/readme-edgecase.md
readmeai/markdown/data/badges.json
readmeai/settings/prompts.toml
templates/
.github/workflows/ci.yml
