# Build artifacts
build/
dist/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
.env

# System-specific files
.DS_Store

# Temporary files
*~

# Logging
logs/
*.log

# Testing
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
outputs/
notebooks/

# VSCode workspace settings
.vscode/

# Python Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Mkdocs
.cache
site

# Work In Progress (WIP)
readmeai/cli/commands_line.py
readmeai/cli/interactive.py
readmeai/config/settings/prompts
readmeai/config/settings/templates

# Project Assets
docs/docs/assets/svg/readme-ai-animated.svg
docs/docs/assets/svg/readme-ai-banner.svg
docs/docs/assets/svg/readme-ai-cosmic.svg
