black==21.9b0
click==8.0.1
cachetools
coverage
dacite
flake8
GitPython
httpx
h2
isort
loguru
openai
openapi-python-client
pandas
pre-commit==2.15.0
PyYAML
pytest
pytest-cov
responses
setuptools
tabulate
toml
typer
