black==21.9b0
click==8.0.1
cache
cachetools
coverage
dacite
flake8
GitPython
httpx
h2
isort
loguru
openai
pandas
pipreqs
pre-commit==2.15.0
PyYAML
pytest
pytest-cov
requests
setuptools
snakeviz
spacy
tabulate
toml
typer